/** Post **/
.postHeader {
  display: flex;
  align-items: baseline;
}

.postHeader>h1 {
  margin: 0;
}

.postHeader .timestamp {
  margin-left: 10px;
}

.commentsWrapper {
  border-radius: 10px;
  margin-top: 30px;
}

.parentComment {
  border-left: 1px solid black;
  padding-left: 5px;
}

.commentWrapper {
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.addCommentBtn {
  margin-left: 10px;
}

.replyBtn {
  cursor: pointer;
}

.postHeaderInfo {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.body {
  padding: 5px 0;
}

.newCommentLabel {
  width: 100%;
}

@media (max-width: 991.98px) {
  .reportBtn {
    display: block;
    margin-left: 0;
  }
}

/** Feed **/
.post {
  border: 2px solid var(--primary-text-color);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
  padding: 0 5px;
  margin: 5px 0;
  height: 50px;
}

.post_link+.post_link {
  margin-top: 10px;
}

.post_id {
  font-size: 1.3em;
  color: #333;
  margin-bottom: 20px;
}

.post_title {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 20px;
}

.post_tag {
  font-size: 1.3em;
  color: #333;
  margin-bottom: 20px;
}

.post_date {
  font-size: 0.8em;
  color: #333;
  margin-bottom: 20px;
}

.createPostBtn {
  margin-left: 10px;
}

.board_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  margin: 10px 0;
  background-color: var(--primary-text-color);
  color: white;
}

.arrow {
  font-size: 1.5em;
}

.board_button {
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

.board_wrapper:active,
.board_wrapper:hover {
  background-color: var(--primary-text-color);
  color: white;
  text-decoration: none;
}

/* Board */
.boardHeader {
  line-height: 1.2;
}
