html,
body {
  padding: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

nav a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}


.rootContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

footer {
  padding-top: 10px;
  border-top: 1px solid black;
}
