:root {
  --primary-text-color: #44841a;
  --accent-color: #f16e22;
}

html,
body {
  padding: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

nav a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-text-color);
}

h2 {
  font-size: 2em;
}

h1,
h2,
p,
ul {
  margin: 0;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.PanicButton {
  padding: 0.1rem 0.7rem;
  font-weight: bold;
  color: white;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -80%);
  background: blue;
  border-radius: 5px;
}

.rootContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

footer {
  padding-top: 10px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  gap: 30px
}

.rs-btn-primary {
  background-color: var(--accent-color);
  font-weight: bold;
}

.rs-btn-primary:hover {
  background-color: var(--primary-text-color);
  font-weight: bold;
}

a:hover,
a:active {
  color: var(--primary-text-color);
}

.rs-panel .rs-icon {
  color: white !important;
}
