.header {
  font-size: 2.1em;
  color: var(--primary-text-color);
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 10px;
  font-size: 0.7em;
}

.active {
  text-decoration: underline;
  color: var(--accent-color) !important;
}

.link:hover,
.link:active {
  color: var(--accent-color);
}

.authLink {
  cursor: pointer;
}

.name {
  text-align: center;
}

.backButton {
  border-color: var(--accent-color);
  color: var(--primary-text-color);
  width: 70px;
}

@media (max-width: 991.98px) {
  .header {
    flex-direction: column;
  }

  .links {
    display: none;
  }

  .backButton {
    margin: auto;
    display: block;
    margin: 10px auto;
  }
}
