.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.1em;
  color: var(--primary-text-color);
  font-weight: bold;
}

.links {
  display: flex;
  gap: 10px;
  font-size: 0.7em;
}

.active {
  text-decoration: underline;
  color: var(--accent-color) !important;
}

.link:hover,
.link:active {
  color: var(--accent-color);
}

.authLink {
  cursor: pointer;
}

.name {
  text-align: center;
}

@media (max-width: 991.98px) {
  .header {
    flex-direction: column;
  }

  .links {
    display: none;
  }
}
