.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.links {
  display: flex;
  gap: 10px;
  font-size: 0.7em;
}

.active {
  text-decoration: underline;
}

.authLink {
  cursor: pointer;
}

.name {
  text-align: center;
}

@media (max-width: 991.98px) {
  .header {
    flex-direction: column;
  }

  .links {
    font-size: 0.6em;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0;
  }
}
