.reportspage h3 {
  text-align: center;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form_container {
  max-width: 90%;
  margin-top: 20px;
  margin-bottom: auto;
}

.button_container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.button_container button {
  margin: 0 10px;
}
