.header {
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

.resourceTitle {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 20px;
}

.articleAnchor {
  text-decoration: underline;
  color: white;
}

.articleContainer {
  height: 40px;
  padding: 10px;
}

.resourceCategory {
  background-color: var(--primary-text-color);
  color: white;
}

.resourceCategory+.resourceCategory {
  margin-top: 10px;
}
