.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.links {
  display: flex;
  gap: 10px;
  font-size: 0.7em;
}

.active {
  text-decoration: underline;
}
